<aside class="basket">

  <h2>Basket</h2>

  <div class="table-container">
    <table class="basket-items">
      <tr>
        <th class="table-basket-description">Item</th>
        <th class="table-basket-price">Price</th>
      </tr>
        <tr ng-repeat="item in ctrl.service.basket track by $index">
          <td> {{ item.name.description }}</td>
          <td> {{ item.price.unit | currency: "£" }} </td>
        </tr>
    </table>
  </div>

  <div class="basket-total-info">

    <form ng-submit="ctrl.service.applyVoucher(code)">
      Voucher Code:
      <input type="text" ng-model="code" name="code" />
      <input type="submit" id="submit" value="Redeem" />
    </form>

    <p>Subtotal:{{ ctrl.service.subTotal | currency: "£" }}</p>
    <p>Discount:{{ ctrl.service.discount | currency: "£" }}</p>
    <p>{{ ctrl.service.total | currency: "£" }}</p>
  </div>


</aside>
