<aside class="basket">
  <h3>Basket</h3>
  <div class="basket-items">
    <ul>
      <li ng-repeat="item in ctrl.service.basket track by $index">
        <p>  {{ item.name.description }}</p>
      </li>
    </ul>
  </div>

  <div class="basket-total-info">

    <form ng-submit="ctrl.service.applyVoucher(code)">
      Voucher Code:
      <input type="text" ng-model="code" name="code" />
      <input type="submit" id="submit" value="Apply Voucher To Order" />
    </form>

    <span>Subtotal:{{ basket.subtotal }}</span>
    <span>Discount:{{ basket.discount }}</span>
    <span>{{ basket.total }}</span>
  </div>


</aside>
