//colours
$shop-header: linear-gradient(#fb3 50%, #58a 50%);
$shop-header-stripe-size: 50% 20px;
$brand-blue: #58a;
$shop-background: #F6F6F6;
$shop-foreground: #FFFFFF;
$shop-border: #D8D8D8;

$button-basket-border: 1px solid #446d88;
$blue-gradient: #58a linear-gradient(hsla(0,0%,100%,.4), transparent);
// $shop-light-blue: #96B5CA;

//other variables
$retailer-border: 1px solid $shop-border;
