.product-container {
  max-width: 800px;
}

.product-list {
  display: flex;
  background-color: $shop-background;
  flex-direction: row;
  flex-wrap: wrap;
  .product:first-child, .product:nth-child(2) {
    flex: 2 40%;
    }
  .product {
    margin: 2%;
    padding: 1%;
    flex-grow: 1;
    flex-basis: 15%;
    background: $shop-foreground;
    min-width: 200px;
    border: $retailer-border;
    img {
      max-width: 100%;
    }
  }
}
