<aside class="basket" ng-hide="ctrl.custom">

  <h2 id="basket-heading">Basket</h2>
  <div id="error"></div>
  <div class="table-container">
    <table class="basket-items">
        <tr ng-repeat="item in ctrl.service.basket track by $index">
          <td> {{ item.name.description }}</td>
          <td> {{ item.price.unit | currency: "£" }} </td>
        </tr>
    </table>
  </div>

  <div class="basket-total-info">

    <p>Subtotal:{{ ctrl.service.subTotal | currency: "£" }}</p>
    <form ng-submit="ctrl.service.applyVoucher(code)">
      <input type="text" ng-model="code" name="code" placeholder="Enter a Valid Voucher Code"/>
      <button type="submit" id="submit" value="Redeem"> Redeem</button>
    </form>

    <p>Discount:{{ ctrl.service.discount | currency: "£" }}</p>
    <p>{{ ctrl.service.total | currency: "£" }}</p>
  </div>


</aside>
